body{
  margin: 0px;
  background-color: rgb(41, 40, 33);
} 
 
 /*_________________________________________________________________________________________________________________________*/

 
 .header {
   grid-area: header;
   background-image: url(Background-head.jpg);
   padding: 15px;
   font-size: 10px;
   text-align: center;
   background-size: 100% auto;
 }
 .header > mark{
   background-color: #ffffe6;
}

.header > mark > a{
  text-decoration:none; 
  color: black;
}

 .navigation {
   grid-area: sidebar;
   background-color: #ffffcc;
   padding: 7px;
   font-size: 17px;
 }

 .navHome {
   padding-bottom: 5px;
   font-size: 1.2em;
 }


 .article {
   grid-area: content;
   background-color: #ffffe6;
   padding: 20px;
   padding-right: 30px;
   font-size: 20px;
 }


 .footer {
   grid-area: footer;
   background-color: #ffcc00;
   padding: 8px;
   text-align: center;
 }
.footer > * {
   color: #888;
}


 .wrapper {
  height: 100vh;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-areas: 
       "header  header"
     "sidebar content"
     "footer  footer";
 }
 
 .wrapper > div{
   border: 1px solid black;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.3;
 }
 @media (max-width: 680px) {
   .wrapper {
     grid-template-columns: 4fr;
     grid-template-areas:
       "header"
       "content"
       "sidebar"
       "footer";
   }
 }

/*_________________________________________________________________________________________________________________________*/
 






/*_________________________________________________________________________________________________________________________*/

h1 {
  font-size: 30px;
 }
 h2 {
  font-size: 27px;
   margin: 15px 0px 5px 0px;
 }
 h3 {
   font-size: 22px;
   margin: 7px 0px 7px 0px;
 }
 h4 {
   margin: 3px 0px 1px 0px;
 }

/*_________________________________________________________________________________________________________________________*/

 table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

 ul {
  padding-left: 20px;
  padding-bottom: 10px;
}
/*_________________________________________________________________________________________________________________________*/

.imgCenter{
   text-align: center;
   clear: both;
   margin: 10px 0px 10px 0px;
}
.imgCenterBox{        /* > **/
  display: inline-block;
  /*width: 200px;
  height: 100px;*/
  position: relative;
  font-family: Arial;
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}

a.imgCenterBox{
  text-decoration: none;
}

.imgCenterBox  img{
  width: 200px;
  height: auto;
}

.imgCenterText-bottom{
  position: absolute;
  top: 1px;
  left: 30%;
  padding: 0px 7px 0px 7px;

  background: rgba(240, 237, 223, 0.74);
  transform: translate(-20%)
}

.imgref {
  font-style: italic; text-align: center; color: #000; font-size: 80%; padding: 0px 1px; display: inline-block; 
}

/*_________________________________________________________________________________________________________________________*/
.imgRight{
  float: right;
  margin: 15px;
}

.compactPar{
  margin: 7px 0px 7px 0px;
}

.date {
  font-size: 12px;
  color: #888;
  margin: 0px 0px 0px 5px;
}