.imgCenter{
   text-align: center;
}
.indexLeft{
   width: 250px;
   font-size: 17px;
   vertical-align: top;
   background-color: #ffffcc;
}
ul{
   padding-left: 10px;
}
li{
   padding-top: 5px;
}
h3{
   margin-top: 0px;
   margin-bottom: 5px;
}
img {
  margin:    10px;
  
}
table{
   width: 100%;
}
thead{
   font-size: 20px;
   background-image: url(BackgroundHEAD.jpg);
}
tbody{
   background-color: #ffffe6;
   font-size: 20px;
}
tfoot{
   background-color: #ffcc00;
}